.header-content {
  margin-top: 86px;
  margin-left: 201px;

}


.header-content__town {
  color: #A07B50;
  font-size: 16px;
}

.header-content__title {
  color: #FFFFFF;
  font-family: Yeseva One;
  font-size: 52px;
  margin-top: 37px;
}

.header-content__lead {
  color: #A07B50;
  margin-top: 30px;
  font-size: 16px;
}

.header-content__btn {

  margin-top: 49px;




}

.header-content__btn > a {
  padding: 17px 35px;
  border: 1px solid #A07B50;
  font-size: 14px;
  color: #FFFFFF;
}
